@font-face {
  font-family: "Collegier";
  src: url("./Collegier.ttf");
}

@font-face {
  font-family: "WantedM54";
  src: url("./WantedM54.ttf");
}

@font-face {
  font-family: "BeTrueToYourSchool";
  src: url("./BeTrueToYourSchool.ttf");
}

@font-face {
  font-family: "DINPro-Black";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Black"), url("./DINPro-Black_13933.woff") format("woff");
}

/*
 * Header
 */

.brand {
  margin-bottom: 0;
  color: #94155c;
  font-weight: 700;
}

span {
  color: #07f0ff;
}

.row {
  margin: 0;
  padding: 0;
}

/*
 * Burger component 
 */

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #94155c;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #07f0ff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #07f0ff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #07f0ff;
  padding: 0.8em;
}

.bm-item-list a:hover {
  color: #07f0ff;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/*
 * Table
 */

.id-custom-cell {
  color: white;
  background-color: black;
}

.thead-goalkeeper {
  background-color: #eaef10;
  color: #37153c;
}

.thead-defender {
  background-color: #23ef88;
  color: #37153c;
}

.thead-midfielder {
  background-color: #07f0ff;
  color: #37153c;
}

.thead-forward {
  background-color: #e93a51;
  color: white;
}

.table thead th {
  border-bottom: none;
}

.modal {
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20;
  background-color: black;
  border-radius: 2px;
  display: inline-block;
  max-height: 450px;
  margin: auto;
  max-width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-self: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

/*
 * Modal
 */

.modal-body {
  padding: 2em;
}

.container-bid-modal {
  display: flex;
  flex-direction: column;
}

.header-bid-modal {
  display: flex;
}

.name-bid-modal {
  width: 90%;
  font-family: "BeTrueToYourSchool";
  font-size: 2.5em;
  /* font-weight: bold; */
}

.close-modal-button {
  width: 10%;
  text-align: right;
  font-weight: bold;
  cursor: pointer;
}

.player-portrait {
  width: 140px;
  height: 200px;
  border: 0.5em double white;
}

.remove-player {
  font-weight: bold;
  cursor: pointer;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover,
a:active {
  color: #242424;
}

a:hover {
  text-decoration: none;
}

.noFocus:focus {
  outline: none;
}

/*
 * Base structure
 */

html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  color: #242424;
}

#root {
  width: 100%;
  height: 100%;
}

body,
.table {
  color: #242424;
}

.card {
  background-color: #94155c;
  color: white;
}

.container-page {
  margin: 100px 36px 0px 36px;
}

/* 
* Home
*/

.login-form {
  width: 300px;
  margin: 0 auto;
}
.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.login-form input[type="password"]:focus,
.login-form input[type="text"]:focus {
  border: 1px solid #07f0ff;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #94155c;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.login-form input[type="submit"]:hover {
  background-color: #23ef88;
  color: black;
}
.register-form {
  width: 300px;
  margin: 0 auto;
}

.register-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.register-form input[type="password"],
.register-form input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.register-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #94155c;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.register-form input[type="submit"]:hover {
  background-color: #23ef88;
  color: #242424;
}

/*
 * Dashboard
 */

.container-part {
  height: 15vh;
  margin: 0;
  margin-bottom : .5em;
  padding : .5rem;
  font-family: "DINPro-Black";
  color: white;
  font-size: 3rem;
}

.pointer {
  cursor: pointer;
}

.back-green {
  background-color: #23ef88;
}

.back-blue {
  background-color: #07f0ff;
}

.back-indigo {
  background-color: #94155c;
}

/*
 * Creation Ligue
 */

.privacy {
  text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .box {
  background-color: #23ef88;
  font-size: 1.5em;
}

.privacy span {
  color: grey;
  font-size: 1.5em;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(36, 36, 36, 0.5);
}

.logo {
  width: 2.2em;
  height: 2.2em;
  margin-top: 5px;
  margin-left: 8px;
}
