@font-face {
  font-family: 'Collegier';
  src:url('./Collegier.ttf');
}

@font-face {
  font-family: 'WantedM54';
  src:url('./WantedM54.ttf');
}

@font-face {
  font-family: 'BeTrueToYourSchool';
  src:url('./BeTrueToYourSchool.ttf');
}

.header-draft {
  border-left: 1vw solid #eaef10; 
  transition-property: border-left; 
  transition-duration: 1s; 
}

.header-draft:hover {
  border-left: 67vw solid #eaef10; 
}


.id-custom-cell {
    color:white;
    background-color: black;
}

.thead-goalkeeper {
  background-color: #eaef10;
  color: #37153C;
}

.thead-defender{
  background-color:#23EF88;
  color: #37153C;
}

.thead-midfielder {
  background-color: #07F0FF;
  color: #37153C;
}

.thead-forward {
  background-color: #E93A51;
  color: white;
}

.table thead th {
  border-bottom:none;
}

.modal {
  color: white;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  padding: 20;
  background-color : black;
  border-radius: 2px;
  display: inline-block;
  max-height: 450px;
  margin: auto;
  max-width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  justify-self: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal-body {
  padding:2em;
}

.container-bid-modal {
  display: flex;
  flex-direction: column;
}

.header-bid-modal {
  display: flex;
}

.name-bid-modal {
  width: 90%;
  font-family: 'BeTrueToYourSchool';
  font-size : 2.5em;
  /* font-weight: bold; */
}

.close-modal-button {
  width:10%;
  text-align: right;
  font-weight: bold;
  cursor: pointer;
}

.player-portrait {
  width: 140px;
  height: 200px;
  border: 0.5em double white;
}

.remove-player {
  font-weight: bold;
  cursor: pointer;
}


/* cover example bootstrap*/

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover,
a:active {
  color: #242424;
}

a:hover {
  text-decoration: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body, .table {
  color:#242424;
}

body {
  display: flex;
  justify-content: center;
  color: #242424;
}

.card {
  background-color: #94155c;
  color: white;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  color: #94155c;
  font-size: 2em;
  font-weight: 700;
  border-left-color: #94155c;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(36, 36, 36, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(36, 36, 36, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #242424;
  border-bottom-color: #94155c;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

span {
  color: #07F0FF;
}

/* 
* Home
*/

.header-home {
  border-left: 1vw solid #94155c; 
  transition-property: border-left; 
  transition-duration: 1s; 
}

.header-home:hover {
  border-left: 62vw solid #94155c; 
}

.login-form {
  width: 300px;
  margin: 0 auto;
}
.login-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
}
.login-form input[type="password"]:focus,
.login-form input[type="text"]:focus {
  /* border: 1px solid #07F0FF; */
  border: 1px solid red;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #94155c;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.login-form input[type="submit"]:hover {
  background-color: #23EF88;
  color:black;
}
.register-form {
  width: 300px;
  margin: 0 auto;
}

.register-form h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.register-form input[type="password"],
.register-form input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
}
.register-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #94155c;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}

.register-form input[type="submit"]:hover {
  background-color: #23EF88;
  color:#242424;
}

/*
 * Footer
 */
 .mastfoot {
  color: rgba(36, 36, 36, .5);
}

.logo {
  width: 2em;
  height: 2em;
}


.header-about {
  border-left: 1vw solid #07F0FF; 
  transition-property: border-left; 
  transition-duration: 1s; 
}

.header-about:hover {
  border-left: 67vw solid #07F0FF; 
}

